**/*data/**
.idea
*.mdl
*.pth
004-GANS/CGAN/cgan_BV1Mi4y1P7ta/BV1Mi4y1P7ta_images
004-GANs/DCGAN2/ckpt
004-GANs/GAN-20210501/BV1zX4y1g7Rz_images
004-GANs/PGGAN_tensorflow-master
/DCGAN-on-Anime-Faces-master
/PyTorch-GAN-master
